*{
    margin: 0;
    padding: 0;
}

.main{
    width: auto;
   background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%);
   position: relative;
   overflow: hidden;
   background-image: url(images/bg5.jpg);
   background-size: cover;
   background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    animation: change 50s infinite ease-in-out;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo a{
    font:bold;
    color:rgb(179, 221, 245);
    font-family: Arial;
    font-size: 40px;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    text-decoration: none;
}
.menu{
    width: 590px;
    float: left;
    height: 90px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
ul li{
 list-style: none;
 margin-left: 50px;
 margin-top: 27px;
 font-size: 17px;
}
ul li a{
    text-decoration: none;
    list-style: none;
     color: white;
     font-family: Arial;
     font-weight: bold;
     transition: 0.4s ease-in-out;
    }
ul li a:hover{
    font-family: Arial;
    color:rgb(179, 203, 238)
}
.search{
    width:950px;
    float: left;
    margin-left: 620px;
    margin-top: -20px;
    align-content: end;
    height: 2px;

}
.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height:25px;
    background: transparent;
    color:rgb(2, 17, 40);
    border: 1px solid;
    
}
 
.btn :focus{
    outline: none;
}
.srch :focus{
    outline: none;
}
